Hispagatos is an Anarcho hacker collective that resolves around the <a href="https://en.wikipedia.org/wiki/Hacker_ethic"><b>Hacker ethics</b> of Steven levy</a> and <a href="https://en.wikipedia.org/wiki/Libertarian_socialism">Libertarian <b>socialist</b></a> ideas. We work hard to preserve decentralization,security and privacy in cyberspace and motivate towars  an horizontal  and non hierarchical mutualist society where technology is made by people for the people not by corporate masters to control people. a(A)a
